<div class="row">
	<% @orders.each do |order| %>
	<div class="col-12 col-xl-6" style="margin:1% 0;">
		<div class="card" >
			<div class="card-header" style="background-color: #eaf4ff">
				<%= link_to clients_client_order_path(@client.id,order.id) do %>
				<%= order.order_title %>
				<% end %>
			</div>
			<div class="card-body">
				<div class="d-inline-block text-truncate" style="max-width: 500px;"><%= order.order_text %></div>
			</div>
			<div class="card-body">
				<label >締め切り日</label>
				<%= order.deadline.strftime('%Y年%m月%d日') %>
			</div>
			<div class="card-footer text-muted small" style="background-color: #eaf4ff">
				<div class="row">
					<div class="col-5 offset-7"></div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div