<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- インジケータの設定 -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color:#2d566b;"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color:#2d566b;"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color:#2d566b;"></li>
  </ol>
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active top-1" >
<!--       <img src="<%= asset_path "sibuya.jpg" %>" alt="responsive image" class="d-block img-fluid"> -->
    </div><!-- /.carousel-item -->
    <div class="carousel-item top-2">
<!--       <img src="<%= asset_path "back2.jpg" %>" alt="responsive image" class="d-block img-fluid"> -->
    </div><!-- /.carousel-item -->
    <div class="carousel-item top-3">
<!--     	<img src="<%= asset_path "sibuya.jpg" %>" alt="responsive image" class="d-block img-fluid"> -->
    </div><!-- /.carousel-item -->
  </div><!-- /.carousel-inner -->
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <h1 style="color:#2d566b;"><i class="fas fa-angle-double-left"></i></h1>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <h1  style="color:#2d566b;"><i class="fas fa-angle-double-right"></i></h1>
  </a>
</div><!-- /.carousel -->