<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<h1>アプリの説明入れる</h1>
<div>
	<%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %><br>
	<%= link_to "依頼者ログアウト", destroy_client_session_path, method: :delete %>
</div>
<div>
	<%= link_to " ユーザーログイン", new_user_session_path %><br>
	<%= link_to " 依頼者ログイン", new_client_session_path %>
</div>
<input type="date">
