/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";

.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

.carousel-item{
  height: auto;
}

.carousel-item a {
  display: block;
  width:100%;
}

.carousel-item .show-image {
  display: block;
  width:100%;
}

.top-1{
  background-image: url("order.jpg");
  height: 400px;
  background-size: center;
  background-position:center;
}
.top-2{
  background-image: url("back2.jpg");
  height: 400px;
  background-size: cover;
  background-position:bottom;
}
.top-3{
  background-image: url("ki.jpg");
  height: 400px;
  background-size: cover;
}

.p{
	color: #2d566b;
}
.modal-dialog{
	width:200%;
}
.modal-content{
  max-width: 300%;
}
.c{
	background:  image-url("sky4.jpg") ;
	background-size: cover;
	opacity: 1;
}
header{
	background-color: white;
	padding-bottom: 2%;
}
.bottomline{
	height: 1px;
	background-color:#dcdcdc;
}
/*.box{
	background-color: #f9fbfe;
	padding: 3% 0;
}
*/.under {
	height: 3px;
	background-color:#dcdcdc;
	width: 60%;
	margin: 0 auto;
}
.card-header{
	background-color: white;
}
.card-footer{
	background-color: white;
}
.gold {
background-image: linear-gradient(to top left, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03);
}
.under-title{
	border-bottom: solid 3px #fed9a0;
	width: 60%;
	margin: 0 auto;
}
.under-title2{
	border-bottom: solid 3px #aeefdd;
	width: 60%;
	margin: 0 auto;
}
.tab-content {
	min-height: 200px;
}
.btn-pro {
	color:#2d566b;
	background-color: #2d566b;
}